html {
  font-family: Georgia, Helvetica, serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
}

h1 {
  color: white;
  text-align: center;
  line-height: 2.0;
  text-shadow: 3px 2px blue;
  width: auto;
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  color: purple;
  display: inline-block;
  text-align: center;
  width: auto;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
  width: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  color: red;
}

.container {
  margin-left: auto;
  margin-right: auto;
}


#navigation {
  text-transform: uppercase;
  font-weight: bold;
}

#navigation ul {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#navigation ul li {
  display: inline-block;
}
