html {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.5em;
  font-family: Archivo, Spectral, monospace;
  cursor: none;
}

body {
  background-image: url("background.gif");
  background-repeat: repeat;
  background-attachment: fixed;
  cursor: none;
}


a {
  text-decoration: none;
}

.btn {
  opacity: 1;
}

.btn:hover {
  cursor: none;
  opacity: 0.5;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  max-width: 700px;
  min-height: 5em;
  line-height: 1.5;
  background-color: black;
  padding: 1em;
  border-radius: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

#wrap {
  position: relative;
}

.ball {
  pointer-events: none;
  position: absolute;
  width: 7px;
  height: 7px;
  background: black;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {transform: scale(0)}
}
