html {
  font-family: Archivo, Spectral, monospace;
  font-size: 1.5em;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background.gif");
  background-size: cover;
}

h1 {
  text-align: center;
  line-height: 2.0;
  text-shadow: 3px 2px blue;
  width: auto;
  font-family: Georgia, Helvetica, serif;
  font-size: 4.5em;
  font-weight: bold;
}


p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
  width: auto;
}

a:hover {
  color: red;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
